body {
  background-color: #0d1e2a;
}

.mainContainer {
  /* font-size: 20px; */
  margin: 20px;
  border-radius: 20px;
  padding: 30px 10px;
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.2);
  justify-content: space-between;
  align-items: center;
  width: 70%;
  margin: 0 auto;
  margin-top: 50px;
  margin-bottom: 50px;
  color: black;
  /* background-color: #4F8996; */
  border: 1px solid #4f8996;
}

.title {
  display: inline-flex;
  /* width: 60%; */
  justify-content: space-between;
  color: white;
  font-weight: 800;
  padding-left: 10px;
  translate: 0px -70px;
  background-color: #0d1e2a;
  /* border: 1px solid white; */
  /* shape-outside: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%); */
  /* margin: 0px; */
  padding: 0 5px;
  box-sizing: content-box;
}

.description {
  margin: 30px 20px 30px 20px;
  font-size: 20px;
  font-weight: 450;
  text-align: justify;
  height: 200px;
  /* border: 1px solid black; */
  overflow: auto;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  margin-top: 0;
  color: white;
}
.description::-webkit-scrollbar {
  width: 10px;
  background-color: #11161b;
}

.description::-webkit-scrollbar-thumb {
  background-color: #3a434b;
  border-radius: 10px;
}

.description::-webkit-scrollbar-track {
  background-color: #11161b;
  border-radius: 10px;
}

.date {
  display: inline-flex;
  color: white;
  /* width: 30%; */
  margin-top: 0;
  font-weight: 800;
  padding-left: 10px;
  justify-content: space-between;
}

.fileDisplayWindow {
  height: 170px;
  width: 90%;
  margin: 0 auto;
  /* border: 1px solid #1d7ff0 !important; */
  border: 2px solid #4f8996;
  border-radius: 6px;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
}

.btnDelete {
  color: #fff;
  display: block;
  margin: 20px auto;
  padding: 10px;
  border-radius: 5px;
  background-color: #4f8996;
  border-color: #4f8996;
  border: none;
  font-weight: 600;
  transition: 0.3s;
}

.btnDelete:hover {
  color: #fff;
  background-color: #204a69;
  border-color: #204a69;
  letter-spacing: 0.07em;
}

@media (max-width: 768px) {
  .date {
    display: block;
    justify-content: center;
    width: 60%;
    padding-left: 10px;
    margin-top: 0;
  }
  .title {
    display: block;
    width: 100%;
    padding-left: 10px;
    margin-bottom: 0;
  }
}

h1 {
  margin: 0px;
  padding: 0;
}
