* {
  transition: 0.3s;
}

.mainDiv {
  border: 1px solid #4f8996;
  background-color: #11161b;
  border-radius: 18px;
  height: 700px;
  width: 90%;
  margin: 0 auto;
  margin-top: 3%;
}

.title,
.description {
  width: 70vw;
  display: flex;
  margin: 30px auto;
  font-size: 20px;
  font-weight: 800;
  background-color: transparent;
  color: white;
  border: none;
  border-bottom: 2px solid #4f8996;
  padding: 10px;
}

.description {
  font-weight: 600;
  overflow: auto;
  resize: none;
  height: 200px;
}

.description::-webkit-scrollbar {
  width: 10px;
  background-color: #11161b;
}

.description::-webkit-scrollbar-thumb {
  background-color: #3a434b;
  border-radius: 10px;
}

.description::-webkit-scrollbar-track {
  background-color: #11161b;
  border-radius: 10px;
}

.title:focus,
.description:focus {
  outline: none;
}

.filesUploadAndSubmitDiv {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  margin: 140px auto;
  /* border: 1px solid #4f8996; */
}

.filesUploadDiv {
  background-color: #4f8996;
  border-radius: 4px;
  height: 200px;
  width: 70%;
  color: white;
  font-size: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* .submitButton {
    padding: 10px 40px;
    margin: 0 20px;
    color: white;
    background-color: transparent;
    font-size: 20px;
    border: 1px solid #4F8996;
    border-radius: 4px;
    background-color: #4F8996;
    transition: 0.3s;
    font-weight: 500;
}

.submitButton:hover {
    background-color: transparent;
    letter-spacing: 0.1em;
} */

.submitButton {
  padding: 10px 40px;
  margin: 10px;
  letter-spacing: 0.08em;
  color: white;
  background-color: transparent;
  font-size: 20px;
  border: 1px solid #4f8996;
  font-weight: 500;
  /* transition: 0.3s; */
  border-radius: 4px;
}

.submitButton:hover {
  background-color: #4f8996;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

@media (max-width: 768px) {
  .filesUploadAndSubmitDiv {
    display: block;
    margin-top: 60px;
  }
  .filesUploadDiv {
    width: 100%;
  }
  .submitButton {
    display: flex;
    margin: 40px auto;
  }
}
