.mainContainer {
  display: flex;
  flex-direction: column;
}
.upperDiv {
  height: 40vh;
  background-color: #050c11;
}

.lowerDiv {
  height: 110vh;
  background-color: #ced8e1;
}

.titleStatusDateContainer {
  width: 85%;
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
  height: 30vh;
  /* border: 1px solid white; */
}

.statusDateContainer {
    margin-top: 5%;
    color: white;
    justify-content: center;
    display: block;
    /* background-color: yellow; */
    /* border: 1px solid white; */
}

.title {
  color: #6964e2;
  font-weight: 700;
}

.description {
  margin: 40px 20px 30px 20px;
  font-size: 20px;
  text-align: justify;
  /* border: 1px solid black; */
}

.description div {
  margin-top: 30px;
  padding: 10px;
  height: 300px;
  overflow: auto;
}

/* .description div::-webkit-scrollbar {
  width: 0;
  background-color: transparent;
} */

@media (max-width: 768px) {
  .titleStatusDateContainer {
    display: block;
    margin-top: 10%;
  }
  .title {
    margin-bottom: 30px;
  }
}

.uploadFileSubmitReview {
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  /* border: 1px solid blue; */
}

.uploadFilesDiv {
  background-color: #050c11;
  height: 200px;
  text-align: center;
  border-radius: 8px;
  width: 25%;
}

.commentsAndReviewDiv button {
  padding: 8px 15px;
  border: none;
  border-radius: 4px;
  background-color: #6964e2;
  color: white;
  transition: 0.3s;
}
.uploadFilesDiv button {
  padding: 8px 10px;
  border: none;
  border-radius: 4px;
  background-color: #6964e2;
  color: white;
  margin-top: 80px;
  transition: 0.3s;
}

.uploadFilesDiv button:hover, .commentsAndReviewDiv button:hover {
  background-color: #3632a2;
  /* letter-spacing: 0.03em; */
}

.commentsAndReviewDiv {
  text-align: right;
  width: 70%;
}

.commentsAndReviewDiv textarea{
  height: 150px;
  width: 100%;
  border-radius: 8px;
  /* border: 1px solid black; */
  resize: none;
  padding: 10px;
}

@media (min-width: 769px) and (max-width: 1024px) {

}

@media (max-width: 768px) {
  .uploadFileSubmitReview {
    display: block;
  }
  .commentsAndReviewDiv {
    margin-top: 30px;
    width: 100%;
    text-align: center;
  }
  .lowerDiv {
    height: 140vh;
  }
  .uploadFilesDiv {
    /* margin-top: 100px; */
    width: 100%;
  }
}