/* @import url('https://fonts.googleapis.com/css2?family=Nunito:wght@700&family=Poppins&family=Roboto&display=swap');

body {
  font-family: 'Nunito', sans-serif;
}
.container {
  display: flex;
}

.leftDiv {
  flex-basis: 100%;
  background-color: #0d1f2b;
  overflow: scroll;
}

.rightDiv {
  flex-basis: 30%;
  background-color: #ced8e1;
}

@media (max-width: 768px) {
  .container {
    display: block;
    margin-top: 0px;
    margin-bottom: 0px;
  }
  .leftDiv {
    display: block;
  }
  .rightDiv {
    display: block;
  }
} */
